.username-div {
  background-color: white;
  color:black;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 1px 3px 1px rgb(0 0 0 / 10%);
}
p {
  font-weight: bold;
  font-size: 20px;
}
#subjects {
  padding: 10px;
}
#task_info {
	width: 500px;
    height: 600px;
    background-color: darkorange;
    color: white;
    margin: 20px;
}
a:-webkit-any-link {
  color: white;
  text-decoration: none;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: white;
}
button {
    height: 50px;
    background-color:lightgreen;
    width: 200px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }
  .subject {
    background-color: white;
    font-size: 16px;
    color:black;
  }
  .tasks_a {
    font-size: 14px;
  }
  .success {
    background-color: lightgreen;
    font-size: 14px;
    padding: 10px;
  }
  .warning {
    background-color: gold;
    font-size: 14px;
  }
  .error {
    background-color: red;
    font-size: 14px;
    padding: 10px;
  }
  .lecture {
    background-image: url(/svg/book-open-solid.svg);
  }
  .task {
    background-image: url(/svg/tasks-solid.svg);
  }
  
   
 